<br />

<div class="booyah-box col-10 offset-1">
    <h1 class="text-center"><%= @course.title %></h1>
    <br>
    <%= image_tag @course.image.url, class: 'img-fluid rounded mx-auto d-block imgdrop' %>
    <br>

    <div class="col-12 col-lg-8 offset-lg-2">
        <div class="row">
            <div class="col-md-4 col-12 text-center">
                <span class="badge badge-pill badge-default">
                    <%= number_to_currency @course.cost %>
                </span>

                <% if current_user && current_user == @course.user %>
                    <br />
                    <br />
                    <%= link_to 'Administer', instructor_course_path(@course), class: 'btn btn-info' %>
                <% else %>
                    <br />
                    <br />
                    <% if current_user && current_user.enrolled_in?(@course) %>
                        <h4><span class="badge badge-info">You Are Enrolled!</span></h4>
                    <% else %>
                        <%= link_to 'Enroll', course_enrollments_path(@course), class: 'btn btn-info', method: :post %>
                    <% end %>
                <% end %>

            </div>

            <div class="col-md-8 col-12 description">
                <%= @course.description %>
            </div>
        </div>
        <br />
        <hr />
    </div>


    <div class="col-12 col-lg-10 offset-lg-1">
        <% @course.sections.each do |section| %>
            <br /><br />
            <div class="section">
                <h3><%= section.title %></h3>
                <div class="row">
                    <% section.lessons.each do |lesson| %>
                        <div class="col-12 col-md-6">
                            <div class="lesson text-center">
                                <%= link_to lesson_path(lesson) do %>
                                    <b><%= lesson.title %></b>
                                    <hr class="hr-white" />
                                    <%= lesson.subtitle %>
                                <% end %>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
            
            <br class="clear" />

        <% end %>
    </div>
</div>